.Order {
  width: 250px;
  background-color: #703b09;
  color: #eee;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #cf8f2e;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
}

.Emphasis {
  color: #cf8f2e;
  text-shadow: #eee;
}

.Order li {
  text-align: left;
}
