.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px auto;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  font: inherit;
  background-color: white;
  padding: 6px 10px;
  margin-left: -10 px;
  display: block;
  width: 100%;
}
.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #dba09a;
}
